<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link  href="/public/style.css"  rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/public/style.css">

    <title>Nos services</title>
</head>
<body>
    <nav>

        <a href="index.html" class="lien-icone">
            <img src="/img/logo-2.jpeg" alt="Logo " width="30%" height="50%"/>
        </a>

        <a href="/views/index.html">Accueil</a>
        <a href="/views/services.html">Nos services</a>
        <a href="/views/contact.html">Contactez-nous</a>
    </nav>
    <h1>Nos services</h1>
    <pre>Cannot GET /views/services.html</pre>
    <p>Contenu de la page des services.</p>
</body>
</html>
